In [42]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [3]:
r = requests.get('https://www.billboard.com/charts/hot-100/')
r.status_code

200

In [4]:
html = r.content

In [5]:
soup = BeautifulSoup(html, 'html.parser')

In [39]:
#soup.find_all('li', attrs={'class': 'lrv-u-width-100p'})

In [41]:
#soup.find_all('h3', attrs={"class":re.compile("c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021"),
#                          "id":"title-of-a-story"})

In [79]:
df = pd.DataFrame(columns = ["Song", "Artist"])

for i in soup.find_all('h3', attrs={"class":re.compile("c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021"),
                           "id":"title-of-a-story"}):
    artist = i.find_next('span').get_text(strip=True)
    song = i.get_text(strip=True)
    new_row = pd.Series({"Song": song, "Artist": artist})
    df = pd.concat([df, new_row.to_frame().T], ignore_index=True)
    
df

,Song,Artist
0,We Can't Be Friends (Wait For Your Love),Ariana Grande
1,Lose Control,Teddy Swims
2,Beautiful Things,Benson Boone
3,Carnival,¥$: Ye & Ty Dolla $ign Featuring Rich The Kid ...
4,Lovin On Me,Jack Harlow
...,...,...
95,Back Then Right Now,Tyler Hubbard
96,Tourniquet,Zach Bryan
97,Outskirts,Sam Hunt
98,Worth It,Offset & Don Toliver
99,Fuk Sumn,¥$: Ye & Ty Dolla $ign